*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0}
/*a, a:visited{text-decoration: none;}*/
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*------------------------------------------------*/

body{
    padding: 30px;
    font-size: 18px;
    font-family: serif;
    background-color: rgb(237, 241, 243);
}
.h1{
    text-align: center;
}
.img{
    width: 150px;
    height: 150px; 
    background: url('../Img_1.jpg') 0 0/100% auto no-repeat;   
}

.fio{
    margin-top: 20px;
    text-align: center;
}

.list{
    margin-top: 20px;
}
.list li{
    padding-top: 15px;
    position: relative;
    padding-left: 25px;
}

.list li::before{
    content: '';
    background: url('../check\ icon.jpg') 0 0/80% auto no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 0;
}

.list li::after{
    content: ";";
}  

